{% load static %}
<head>
<script src="{% static 'to_do/script.js' %}" type="text/javascript"></script>
  <link rel = "stylesheet" type="text/css" href="{% static 'to_do/style.css' %}" />
</head>
<body>
<div class ="container">
<h1>Delete Item</h1>
<p class = "deletequest">Are you sure you have completed this task?<br> <span>"{{ item.item_content }}"</span></p>
<p> </p>
<div class="addblock">
<form method="post" class="addform">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">Yes</button>
</form>
</div>
</div>
</body>