{% load static %}
<head>
    <title>
        To-Do List
    </title>
    <link rel = "stylesheet" type="text/css" href="{% static 'to_do/style.css' %}" />
</head>
<body>
    <div class= "container">
{% if latest_list %}
    <h1>Your To-Do List</h1>
    <ul>
    {% for item in latest_list %}
        <li>{{ item.item_content }} -<a href="{% url 'delete' pk=item.pk %}">Done</a></li>
    {% endfor %}
    </ul>
    <a href="/to_do/add/" class="add">Add Item</a>
{% else %}
    <h1>Your To-Do List</h1>
    <p class="none">No items on your to-do list</p>
    <a href="/to_do/add" class="add">Add Item</a>
{% endif %}
</div>
</body>