h1{
    text-align: center;
}
.container{
    width: 800px;
    margin:auto;
    background-color: white;
}
body{
    background-color: blue;
}
li{
    margin-left: 50px;
}
.add{
    margin-left: 100px;
}
.none{
    text-align: center;
}
.addform{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.addblock{
    display: block;
    text-align: center;
}
.deletequest{
    text-align: center;
}